h1{
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;  
  font-size: 50px;
  animation-name:changeFont;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}
body{
    background-color:#B3CEE5;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.center{
    position: absolute;
    left:20%;
    top:10%;
    margin:0;
    text-align: center;
    font-size:90px;
}
.Pcenter{
   position: absolute;
    left:30%;
    top:45%;
    right:10%;
    margin:auto;
    text-align: center; 
    font-size:20px;
}
.boxCenter{
    position: absolute;
    text-align: center;
    padding-right: 6%;
    top:0%
}
.cropContainer{
    position: relative;
    overflow: hidden;
}
.cropContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.Crop-container{
    position: relative;
    overflow: hidden;
}
.Crop-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container{
   position: relative;
   width: 70vw;
   height: 300px;
   background-color:lightpink;
   font-size:20px;
   padding-top: 2%;
   padding-left: 5%;
   padding-right:5%;
   padding-bottom: 2%;
   margin-left: 9%;
   margin-right: 5%;
}
a:hover{
    color:chartreuse;
    font-size:22px;
}
@keyframes changeFont{
    10%{color:white}
    20%{color:lightpink}
    30%{color:deeppink;}
    40%{color:red;}
    50%{color:orange;}
    60%{color:yellow;}
    70%{color:green;}
    80%{color:blue;}
    90%{color:indigo;}
    100%{color:violet;}
}
img{
    max-width:100%;
    height:100%;
}
.flex-container{
    display:flex;
    flex-wrap:wrap;
}
.flex-item{
    background-color:azure;
    text-align:center;
    font-size:15px;
}
@media (max-width:600px){
    .flex-item{
        flex:100%
    }
}
footer{
    font-size:small;
    text-align: center;
}